In [1]:
a = 2

In [2]:
a + 1

3

In [3]:
a - 2

0

In [74]:
# C1:
from math import pi, e
print(pi)
print(e)

3.141592653589793
2.718281828459045

In [45]:
from math import *
# gọi cả thư viện

In [47]:
import math
dir(math)                 # xem những hàm của thư viện

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [48]:
# xem cách dùng của từng hàm
?math.sin

Signature: math.sin   (x, /)
Docstring: Return the sine of x (measured in radians).
Type:      builtin_function_or_method

In [4]:
# C2:
import math
print(math.pi)
# cách này hay sdung: import thư viện, xong dùng gì thì gọi sau

3.141592653589793

In [5]:
# alias:
from math import pi as pi_num, e as e_num
print(pi_num)
print(e_num)

3.141592653589793
2.718281828459045

In [6]:
# ctrl+"/": dùng để cmt nhiều rows

In [7]:
a, b, c = 1, 2 , 8
print(a)
print(b)
print(c)

1
2
8

In [8]:
a = b = c = 123456789
print(a)
print(b)
print(c)

123456789
123456789
123456789

In [9]:
### Các kiểu dữ liệu:
# Numeric: Interger / Float
# Dictionary
# Boolean
# Set
# Sequence Type: Strings / Tuple

In [10]:
# Luôn phải check kiểu data dầu vào
type(a)

int

In [11]:
# C1:
a = """"abc
        xyz"""
print(a)

"abc
        xyz

In [12]:
# C2:
a = "abc \
    xyz"
print(a)

abc     xyz

In [13]:
len(a)

11

# Slice & Index

In [25]:
a = "hello MCI"
print(a)
print(len(a))

hello MCI
9

In [26]:
a[1:3]

'el'

In [27]:
a[-3:]

'MCI'

In [28]:
a.upper()

'HELLO MCI'

In [29]:
a.lower()

'hello mci'

In [30]:
a.capitalize()

'Hello mci'

In [34]:
# Cắt chuỗi:
a_2 = a.split(" ")
a_2

['hello', 'MCI']

In [41]:
x = r"C:\Users\HP\PYTHON L1\HW_5.ipynb"
x

'C:\\Users\\HP\\PYTHON L1\\HW_5.ipynb'

In [36]:
x.split("\\")

['C:', 'Users', 'HP', 'PYTHON L1', 'HW_5.ipynb']

In [42]:
x.rsplit("\\")

['C:', 'Users', 'HP', 'PYTHON L1', 'HW_5.ipynb']

# String Format

In [48]:
a = 12
b = 'abc'
c = 1.5

In [44]:
print('So cua toi la {}, va ten cua toi la {}'.format(a,b))

So cua toi la 12, va ten cua toi la abc

In [45]:
print('So cua toi la {bien1}, va ten cua toi la {bien2}'.format(bien1 = a,bien2 = b))

So cua toi la 12, va ten cua toi la abc

In [46]:
print(f'So cua toi la {a}, va ten cua toi la {b}')

So cua toi la 12, va ten cua toi la abc

In [49]:
print(f'Div of {a} and {c} is equal to {a/c :.2f}')

Div of 12 and 1.5 is equal to 8.00

In [47]:
print('So cua toi la '+str(a)+' va ten cua toi la '+b)

So cua toi la 12 va ten cua toi la abc

# List

In [13]:
u = [1, 2 , 3, 'stringgg', -20, 'Minh', ['MCI', 8]]
print(u)
print(type(u))

[1, 2, 3, 'stringgg', -20, 'Minh', ['MCI', 8]]
<class 'list'>

In [51]:
len(u)

7

In [52]:
u[-1][0]

'MCI'

In [53]:
# Thay đổi gtri trong 1 List:
u[0] = 10
print(u)

[10, 2, 3, 'stringgg', -20, 'Minh', ['MCI', 8]]

In [55]:
# Thay nhiều gtri:
[:3] = 2, "A"
print(u)

[2, 'A', 'stringgg', -20, 'Minh', ['MCI', 8]]

In [56]:
# Thêm vào vtri cuối:
u.append(11)
u

[2, 'A', 'stringgg', -20, 'Minh', ['MCI', 8], 11]

In [57]:
# add vào vtri đc chỉ định:
u.insert(2, 5)
u

[2, 'A', 5, 'stringgg', -20, 'Minh', ['MCI', 8], 11]

In [60]:
# add nhiều 1 lúc:
my_list = ['geeks', 'for']
another_list = [6, 0, 4, 1]
my_list.extend(another_list)
print(my_list)

['geeks', 'for', 6, 0, 4, 1]

In [84]:
# Xóa:
u.remove('Minh')
u

[1, 2, 3, 'stringgg', -20, ['MCI', 8]]

In [14]:
# xóa theo Index, nếu k nói thì xóa từ cuối:
u.pop()
u

[1, 2, 3, 'stringgg', -20, 'Minh']

In [61]:
# Delete All:
u.clear()
u

[]

In [66]:
s = [5, 11, 9, 35, 1, 9]
s.sort()
s

[1, 5, 9, 9, 11, 35]

In [67]:
# Sắp xếp ngược lại:
s.sort(reverse=True)
s

[35, 11, 9, 9, 5, 1]

In [68]:
# Tuple nằm trong dấu () và kết thúc có dấu ','
# Slice, Index giống Strings
# Tuy nhiên các phần tử trong Tuple k thể thay thế như Strings
t = ('This is Tuple',)
print(type(t))

<class 'tuple'>

# Set

In [71]:
settt = {1, 2, 3, 1, 1}
settt

{1, 2, 3}

In [42]:
# chỉ in ra những giá trị Unique
# thường dùng để lọc KH, in ra tên những KH unique
s = [1, 2, 6, 9, 2, 2]
list(set(s))

[1, 2, 6, 9]

In [85]:
settt.add("abc")
settt

{1, 2, 3, 'abc'}

In [86]:
b = {123, 456}
settt.update(b)
settt

{1, 123, 2, 3, 456, 'abc'}

In [ ]:
# intersection, intersection_update
# symetric_difference
# remove(phải truyền cái muốn xóa)
# discard(có thì xóa, k thì thôi)

- List: thay đổi đc gtri
- Tuple: k thay đổi đc gtri
- Set: các phần tử là Unique

In [89]:
# counter: đếm có bnhieu gtri của mỗi gtri Unique

# Dictionary

In [1]:
d = {'a': 1,
     'b': 2,
     (1, 2, 2): 'my tuple',
     2: [1, 2, 3, 4, 5],
    False: 123}
d

{'a': 1, 'b': 2, (1, 2, 2): 'my tuple', 2: [1, 2, 3, 4, 5], False: 123}

In [5]:
# in ra Keys và Values:
print(d.keys())
print(d.values())

dict_keys(['a', 'b', (1, 2, 2), 2, False])
dict_values([1, 2, 'my tuple', [1, 2, 3, 4, 5], 123])

In [7]:
# update (sửa hoặc thêm phần tử vào Dict):
d.update({'a': 1,
     'b': 2,
     (1, 2, 2): 'My tuple',
     2: [1, 2, 3, 8, 9],
    False: 123,
    True: [7, 8, 'n']
})
d

{'a': 1,
 'b': 2,
 (1, 2, 2): 'My tuple',
 2: [1, 2, 3, 8, 9],
 False: 123,
 True: [7, 8, 'n']}

In [12]:
# xóa theo Keys, nếu k nói thì wrong:
d.pop(True)
d

{'a': 1, 'b': 2, (1, 2, 2): 'My tuple', 2: [1, 2, 3, 8, 9]}

In [16]:
# xóa hết:
d.clear()
d

{}

In [92]:
d['a']

1

In [93]:
d[2][4]

5

In [94]:
student = {
    'a': {
        'name': 'Thao',
        'age': '20'
    },
    'b': {
        'city': 'Nam Dinh', 
        'country': 'Viet Nam'
    }
}
student

{'a': {'name': 'Thao', 'age': '20'},
 'b': {'city': 'Nam Dinh', 'country': 'Viet Nam'}}

In [95]:
student['a']['name'][2]

'a'

In [96]:
'hi' == 'bye'

False

In [97]:
(1<2) and (2<3)

True

In [98]:
(1<2) or (2>3)

True

In [40]:
# not(2,5)
# 2 in [2, 3, 5]

In [99]:
if 1<2:
    print('yes')

yes

In [100]:
if True:
    x = 2+2
    print(x)

4

# Casting between Int and Float

In [28]:
r = 1
print("r: ", type(r))

r:  <class 'int'>

In [29]:
# int into float:
a = float(r)
print("a: ", type(a))

a:  <class 'float'>

In [22]:
# float into int:
b = int(a)
print(b, type(b))

1 <class 'int'>

In [32]:
# int/float into strings:
c = str(a)
type(c)
print(c)

1.0

In [36]:
# Note: strings into int/float --> `str->float->int`
d = "10.82"
print(d, type(d))
e = float(d)
print(e, type(e))
f = int(e)
print(f, type(f))

10.82 <class 'str'>
10.82 <class 'float'>
10 <class 'int'>

#### `List, Tuple, Set` tương tự cách chuyển đổi trên